@import 'styles/__variaveis.scss';
@import 'styles/__breakpoints.scss';

.apresentacao{
    display: flex;
    padding: 4rem;
    gap: 4rem;
    &__img{
        width: 30rem;
        height: 30rem;
        border-radius: 30px 30px 0 30px;
    }
    &__sobre{
        color: $branco;
        &__title{
            font-size: 3rem;
        }
    }
}

@media (min-width: $mobile) and (max-width: $iphone){
    .apresentacao{
        flex-direction: column;
        &__img{
            width: 20rem;
            height: 20rem;
        }
    }
}