@import 'styles/__variaveis.scss';
@import 'styles/__breakpoints.scss';

.projetos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    margin: 2rem 5rem;
    padding: 2rem;
    border: 1px solid $verde;
    &__post{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: flex-end;
        text-align: center;
        margin-top: -25px;
        width: 15rem;
        height: 15rem;
        box-shadow: 5px 5px 15px #00000014;
        border-radius: 20px;
        padding-bottom: 1.5rem;
        transition: transform .2s;
        flex: none;
        &__titulo{
            background-color: #00000080;
            padding: 5px;
            color: $branco;
            font-size: 1rem;
            margin: 15px;
        }
        &__btn{
            width: max-content;
            border-radius: 24px;
            padding: .5rem 1.5rem;
            font-size: 0.8rem;
            line-height: 1.125rem;
            color: $branco;
            background-color: $verde;
            border: 1px solid transparent;
            cursor: pointer;
            opacity: 0.8;
        }
        &__btn:hover{
            border-color: $branco;
            opacity: 1;
        }
    }
    &__post:hover{
        transform: translate(0, -1rem);
    }
    
}

@media (min-width: $mobile) and (max-width: $iphone){
    .projetos{
        flex-direction: column;
    }
}



