@import 'styles/__variaveis.scss';

.section{
    background: $background-escura;
    border: 2px solid $verde;
    width: 96vw;
    display: flex;
    padding: 2rem;
    border-radius: 15px;
    justify-content: space-around;
    margin: 2rem;
    &__div{
        display: flex;
        flex-direction: column;
    }
    &__formulario{
        height: max-content;
        display: flex;
    }
}