@import 'styles/__variaveis.scss';
@import 'styles/__breakpoints.scss';

.section{
    width: 100%;
    &__title{
        display: flex;
        align-items: center;
        color: $branco;
        margin: 2rem 1rem;
        gap: 10px;
    }
    &__projetos{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 20px;
        gap: 20px;
        padding: 20px;
    }
}

.projeto{
    cursor: pointer;
    display: flex;
    width: 50rem;
    justify-content: space-between;
    box-shadow: $box-shadow;
    border: 1px solid transparent;
    &__img{
        width: 23rem;
        height: 20rem;
    }
    &__detals{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__title, &__descri{
            color: $branco;
            margin: 15px 20px;
        }
        &__btn{
            padding: 5px;
            text-align: center;
            color: $branco;
            margin: 15px 0 0 0;
            opacity: 0.8;
            border: 1px solid rgb(0, 0, 0, 0.60);
        }
        &__btn:hover{
            opacity: 1;
            border-color: $branco;
            background-color: $verde;
        }
    }
}

.projeto:hover{
    border-color: $branco;
}

.tec{
    display: flex;
    justify-content: space-evenly;
    margin: 0 10px;
    font-size: .8rem;
    color: $branco;
    &__item{
        padding: 3px;
        &__html{
            background-color: $html;
        }
        &__css{
            background-color: $css;
        }
        &__javascript{
            background-color: $javascript;
        }
        &__typescript{
            background-color: $typescript;
        }
        &__react{
            background-color: $react;
        }
        &__sass{
            background-color: $sass;
        }
        &__native{
            background-color: $native;
        }
    }
    
}

@media (min-width: $mobile) and (max-width: $iphone){
    .projeto{
        flex-direction: column;
        width: max-content;
        margin-bottom: 15px;
        &__detals{
            &__descri{
                max-width: 80vw;
            }
            &__btn{
                max-width: max-content;
                align-self: end;
                background-color: $verde;
                margin: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 15px;
                border-radius: 10px;
            }
        }
    }

    .tec{
        flex-direction: column;
        width: max-content;
    }
}