@import 'styles/__variaveis.scss';
@import 'styles/__breakpoints.scss';

.header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    background: $background-linear;
    border-bottom: 3px solid $verde;
    &__nameMe{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__matheus, &__fontenele{
            font-size: 1rem;
        }
        &__matheus{
            color: #5c5c5a;
        }
        &__fontenele{
            color: #fff;
        }
    }
}
@media (min-width: $mobile) and (max-width: $iphone){
    .header{
        padding: .5rem;
    }
}


