@import 'styles/__variaveis.scss';

.header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    background: $background-linear;
    border-bottom: 3px solid $verde;
    &__nameMe{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__matheus, &__fontenele{
            font-size: 1rem;
        }
        &__matheus{
            color: #5c5c5a;
        }
        &__fontenele{
            color: #fff;
        }
    }
    &__listContac{
        display: flex;
        flex-direction: row;
        align-items: center;
        & a i{
            font-size: 1.5rem;
            padding: 5px;
            color: $branco;
            opacity: 0.8;
        }
        & a i:hover{
            opacity: 1;
        }
    }
    &__navbar{
        display: flex;
        justify-content: space-around;
        gap: 30px;
        &__link{
            font-size: 1.25rem;
            line-height: 1.5rem;
            color: $branco;
        }
        &__linkDestaque{
            text-decoration: underline;
        }
    }
}