@import 'styles/__variaveis.scss';

.banner{
    min-height: 10rem;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    &__title, &__text{
        color: $branco;
        background-color: $border-color;
        opacity: 0.7;
        max-width: 70%;
        padding: 10px;
    }
}