@import 'styles/__variaveis.scss';

.contato{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 5px solid $verde;
    border-radius: 20px;
    margin: 2rem 5rem;
    background: $background-escura;
    &__cafe{
            width: 30rem;
    }
    &__social{
        margin: 1.5rem 0;
        display: flex;
        flex-direction: column;
        gap: 3rem 0;
    }
}

.div{
    padding: 20px;
    &__h2{
        color: $verde;
        text-transform: uppercase;
    }
    &__p{
        color: $branco;
    }
}
