@import 'styles/__variaveis.scss';
@import 'styles/__breakpoints.scss';

.contato{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 5px solid $verde;
    border-radius: 20px;
    margin: 2rem 5rem;
    background: $background-escura;
    &__cafe{
            width: 30rem;
    }
    &__social{
        margin: 1.5rem 0;
        display: flex;
        flex-direction: column;
        gap: 3rem 0;
    }
}

.div{
    padding: 20px;
    &__h2{
        color: $verde;
        text-transform: uppercase;
    }
    &__p{
        color: $branco;
    }
}

.social{
    display: flex;
    justify-content: space-around;
    &__icon{
        transition:
        rotate 3s;
    }
    &icon:hover{
        rotate: 720deg;
    }
    &__name{
        display: none;
    }
}


@media (min-width: $mobile) and (max-width: $iphone){
    .contato{
        flex-direction: column;
        &__cafe{
            display: none;
        }
    }
}