*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}

body{
  background: linear-gradient(330deg, rgba(122,122,122,1) 0%, rgba(64,64,64,1) 33%, rgba(25,25,25,1) 70%);
  min-height: 100vh;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}